<!DOCTYPE html>
<html lang="en">
<head>
  <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<!--cargar productos-->
<script>
  async function guardarProducto() {
    const id = document.getElementById('inputId').value;
    const nombre = document.getElementById('inputNombre').value;
    const categoria = document.getElementById('inputCategoria').value;
    const precio = document.getElementById('inputprecio').value;
    
    const response = await fetch('/create', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ id, nombre, categoria, precio }),
    });
    
    if (response.ok) {
      location.reload();  // Recargar la página para ver los cambios
    } else {
      console.error('Error al guardar el producto');
    }
  }
</script>

<!-- elimniar producto-->
<script>
  async function eliminarProducto(id) {
    const response = await fetch(`/productos/${id}`, {
      method: 'DELETE',
    });
    
    if (response.ok) {
      location.reload();  // Recargar la página para ver los cambios
    } else {
      console.error('Error al eliminar el producto');
    }
  }
</script>
<!---modificar-->
<script>
  async function guardarEdicion() {
  const id = document.getElementById('editId').value;
  const nombre = document.getElementById('editNombre').value;
  const categoria = document.getElementById('editCategoria').value;
  const precio = document.getElementById('editprecio').value;
  
  const response = await fetch(`/productos/${id}`, {
    method: 'PUT',
    headers: {
      'Content-Type': 'application/json',
    },
    body: JSON.stringify({ nombre, categoria, precio }),
  });
  
  if (response.ok) {
    location.reload();  // Recargar la página para ver los cambios
  } else {
    console.error('Error al guardar la edición');
  }
}

</script>

<!---modificar--------->
<script>

function editarProducto(id, nombre, categoria, precio) {
  document.getElementById('editId').value = id;
  document.getElementById('editNombre').value = nombre;
  document.getElementById('editCategoria').value = categoria;
  document.getElementById('editprecio').value = precio;

  // Abre el modal de edición
  var modal = new bootstrap.Modal(document.getElementById('editModal'));
  modal.show();
}

</script>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Productos</title>
</head>
<body>

  <div class="container my-5" > 
    <div style="margin-left: 270px;"> <h1>REGISTRO DE PRODUCTOS</h1></div>
    <div style="width: 100px; height: 40px;  margin-left: 110px;"> 
      <img src="/static/imagen/mas.png" alt="edicionar" width="40" data-bs-toggle="modal" data-bs-target="#exampleModal" >
    </div>
    <div class="table-responsive mx-auto" style="max-width: 80%;">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre Producto</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Precio</th>
            <th scope="col">Modificar</th>
            <th scope="col">Eliminar</th>
          </tr>
        </thead>
        <tbody>
          {{productos}}
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Adicionar Nuevo Producto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!--- Formulario -->
        <div class="mb-3">
          <label for="inputId" class="form-label">ID</label>
          <input type="number" class="form-control" id="inputId" placeholder="Ingrese el id">
        </div>
        <div class="mb-3">
          <label for="inputNombre" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="inputNombre" placeholder="Ingrese nombre del producto">
        </div>
        <div class="mb-3">
          <label for="inputCategoria" class="form-label">Descripcion</label>
          <textarea class="form-control" id="inputCategoria" rows="3"></textarea>
        </div>
        <div class="mb-3">
          <label for="inputprecio" class="form-label">Precio</label>
          <input type="number" class="form-control" id="inputprecio" placeholder="Ingrese el precio">
        </div>
        <!--- Fin del formulario -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" onclick="guardarProducto()">Guardar</button>
      </div>
    </div>
  </div>
</div>

<!--------modal modificar-->
<!-- Modal de Edición -->
<!-- Modal de Edición -->
<div class="modal" tabindex="-1" id="editModal" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Editar Producto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="hidden" id="editId">
        <div class="mb-3">
          <label for="editNombre" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="editNombre">
        </div>
        <div class="mb-3">
          <label for="editCategoria" class="form-label">Descripcion</label>
          <textarea class="form-control" id="editCategoria" rows="3"></textarea>
        </div>
        <div class="mb-3">
          <label for="editprecio" class="form-label">Precio</label>
          <input type="number" class="form-control" id="editprecio">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" onclick="guardarEdicion()">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>
